.container {
    text-align: center;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
  }
  
  .miniAlert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0070f3;
    color: #fff;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0.9;
}


  .title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    position: relative;
  }
  
  .title::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: #0070f3;
    margin: 8px auto;
  }
  
  .images {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
 .heroImage,.heroImage3{
    position: relative;
    top: 20px;
    
 }
  

  
  .content {
    text-align: center;
  }
  
  .heading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    color: #666;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  .registerButton {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .registerButton:hover {
    background-color: #005bb5;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .images {
      flex-direction: column;
    }
    .heroImage,.heroImage3{
        display: none;
    }

    .heroImage2{
      left: 0;
      right: 0;
      height: 20vh;
      width: 100%;
      position: relative;
    }
  }
  
