/* styles/MainSection.module.css */

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 20px;

  }
  
  .images {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .heroImage {
    width: 100px;
    height: auto;
    /* border-radius: 5px; */
    top: 20px;
    position: inherit;
  }

 .heroImage2  {
    /* width: 100px; */
    height: auto;
    /* border-radius: 5px; */
  }

  .heroImage3 {
    width: 100px;
    height: auto;
    /* border-radius: 5px; */
    position: inherit;
    top: 20px;
  }
  
  .textContent {
    max-width: 600px;
  }
  
  #header {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .highlight {
    color: #007bff;
  }
  
  #text {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .getStarted {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .getStarted a{
    background: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learnMore {
    color: #007bff;
    text-decoration: none;
    align-self: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .mainSection {
      padding: 20px;
    }
    .images {
      flex-direction: column;
      align-items: center;
    }
    .heroImage,.heroImage3{
        display: none;
        visibility: hidden;
    }
    .heroImage2{
        width: 100%;
        height: 40vh;
    }
  }
  