.container{
    width: 100%;
    height: auto;
    /* border: 1px solid; */
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 100%;
    height: 52vh;
    margin: 10px auto;
    padding: 10px;
    /* border: 1px solid; */
    max-width: 1000px;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 250px;
  }
  
  .image {
    border-radius: 10px 10px 0 0;
  }
  
  .overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
 
  .content {
    padding: 1.5rem;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
  }
  
  .link {
    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
    .card {
      flex-direction: row;
      border: 1px sol;
    }
  
    .imageContainer {
      width: 50%;
      height: auto;
    }
  
    .content {
      width: 60%;
      /* padding: 10%; */
    }
  }
  

  @media  all and (orientation:portrait) {
    
    .container{
        height: 340vh;
    }
    
    .card{
        flex-direction: column;
        /* border: 1px solid; */
        height: 105vh;
    }

    .image{
        width: 95%;
    }

    .content h3{
        padding-top: 10px;
    }

  }